@import './app.scss';

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/img/background.jpg');
}

.modal{
  display: inline-block;
  position: fixed;
  vertical-align: top;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index:1000;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  overflow: auto;
  content: '';
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.modal-container{
  position: fixed;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  background: #d8d8d8;
  box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  border-radius: 3px;
  overflow: hidden;
  padding: 10px;
}

.modal-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 120px;
}

.alert{
  padding: 0;
  margin-bottom: 0;
}

.made{
  height: auto;
  width: auto;
  overflow: auto;
  max-height: 100%;
}

.rezult{
  height: auto;
  width: auto;
  overflow: auto;
  max-height: 100%;
}

.foto-psyhic, .small-foto-psyhic {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-size: cover;
}

.foto-psyhic {
  width: 200px;
  height: 200px;
}

.small-foto-psyhic {
  width: 160px;
  height: 160px;
}

img {
  max-width: none;

  min-width: auto;
  min-height: auto;

  height: 100%;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

table {
  width: 100%;
  table-layout: fixed;
  line-height: 1;
  color: #fff;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Обрезаем все, что не помещается в область */
}

th{
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.repeatTest{
  position: absolute;
  float: right;
  right: 0;
}

td{
  text-align: center;
  border: 1px solid black;
}

.progress-bar{
  color: #000;
}

.welldone{
  background-color: rgba(0, 131, 9, 0.5);;
}
.wrong{
  background-color: rgba(166, 8, 0, 0.5);;
}
.hypothesis{
  font-size: 18px;
  color: #bb1510;
}

@media (max-width: 1300px){
    .repeatTest{
        position: relative;
    }
    .rezult{
        width: 90%;
    }
}

@media (max-width: 768px){
  .made, .rezult{
    width: 100%;
  }
  .form-control {
    font-size: 12px;
  }
  table {
    font-size: 11px;
  }
}
