<template>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 repeatTest text-right" v-if="repeat">
                <button class="btn btn-primary" @click="repeatTest">
                    Повторить тестирование
                </button>
            </div>

            <div class="col-md-4 col-sm-6 col-12" v-for="psyhic in psyhics">
                <div class="row">
                    <div class="col-12 text-center"><h5>{{psyhic.name}}</h5></div>
                    <div class="col-12">
                        <div class="foto-psyhic">
                            <img :src="psyhic.img">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <h5>Уровень достоверности</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" :style="{ width: rating(psyhic.name) + '%'}" aria-valuemin="0" aria-valuemax="100">{{rating(psyhic.name)}}%</div>
                        </div>
                    </div>
                    <div class="col-12 card-body" v-if="variantTable">
                        <table>
                            <thead>
                            <tr>
                                <th>Предположение экстрасенса</th>
                                <th>Загаданное число</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(variant, key) in allVariants" :class="{ welldone: welldone(key, psyhic.name), wrong: wrong(key, psyhic.name) }">
                                <td>{{variant[psyhic.name]}}</td>
                                <td>{{variant.correct}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal" v-if="number">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-container made">

                            <div class="modal-header text-center">
                                <h5><em>Наши экстрасенсы прочитают ваши мысли</em></h5>
                            </div>

                            <div class="modal-body text-center">
                                <h5>Загадайте любое двузначное число</h5>
                            </div>

                            <div class="modal-footer text-center">
                                <button class="btn btn-success" @click="made">
                                    Я загадал
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" v-if="rezult">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-container rezult">

                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-12" v-for="psyhic in psyhics">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="small-foto-psyhic">
                                                        <img :src="psyhic.img">
                                                    </div>
                                                </div>
                                                <div class="col-12 text-center pt-3"><h6>{{psyhic.name}} говорит - <span class="hypothesis">{{psyhic.variant}}</span></h6></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6 col-12">
                                                <div class="col-12 input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="Введите задуманное число"
                                                           @keypress="noChar" @input="inputNumber" v-model="correctNumber">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-primary" type="button" :disabled="activeButton" @click="setCorrectRezult">Закрыть</button>
                                                    </div>
                                                </div>
                                            <div v-if="errorNumber" class="col-12 alert alert-danger">{{errorText}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                number: true,
                rezult: false,
                repeat: false,
                variants: [],
                correctNumber: '',
                errorNumber: false,
                errorText: 'Число должно быть больше 9 и меньше 100',
                psyhics: [],
                test: []
            }
        },
        mounted() {
            this.getPsyhics();
        },
        computed: {
            activeButton: function () {
                return ((this.correctNumber > 9) && (this.correctNumber < 100)) ? false : true;
            },
            allVariants: function () {
                return this.variants;
            },
            variantTable: function () {
                return (this.variants.length == 0) ? false : true;
            }
        },
        methods: {
            getPsyhics: function(){
                axios.get('/get-psyhics').then((response) => {
                    this.psyhics = response.data;
                })
            },
            inputNumber: function () {
                if ((this.correctNumber < 10) || (this.correctNumber > 99)) {
                    this.errorNumber = true;
                } else {
                    this.errorNumber = false;
                }
            },
            made(){
                this.number = false;
                this.getAnswerPsyhic();
            },
            getAnswerPsyhic: function(){
                axios.get('/answer-psyhic').then((response) => {
                    let answer = {};
                    this.psyhics = response.data;
                    for (let i = 0; i < this.psyhics.length; i++){
                        let name = this.psyhics[i].name;
                        answer[name] = this.psyhics[i].variant;
                    }
                    this.variants.push(answer);
                    this.rezult = true;
                })
            },
            setCorrectRezult: function(){
                axios.post('/answer-user', {
                    number: this.correctNumber
                }).then(response => {
                    this.psyhics = response.data;
                    this.variants[this.variants.length - 1].correct = this.correctNumber;
                    this.rezult = false;
                    this.repeat = true;
                    this.correctNumber = '';
                })
            },
            rating: function (data) {
                for (let i = 0; i < this.psyhics.length; i++){
                    if (this.psyhics[i].name == data){
                        return this.psyhics[i].rating;
                    }
                }
            },
            repeatTest(){
                this.repeat = false;
                this.number = true;
            },
            welldone: function (key, name) {
                return (this.allVariants[key][name] == this.allVariants[key].correct) ? true : false;
            },
            wrong: function (key, name) {
                return (this.allVariants[key][name] != this.allVariants[key].correct) ? true : false;
            },
            noChar: function(e) {
                var regex = new RegExp("^[0-9\b]+$");
                var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }
            }
        }
    }
</script>
